.quoteTable {
  th {
    cursor: pointer;
  }
}

.th {
  min-width: 160px;
}

.thSortDown,
.thSortUp {
  &:after {
    display: inline-block;
    font-size: 0.8em;
    margin-left: 0.6em;
  }
}

.thSortDown {
  &:after {
    content: '▼';
  }
}

.thSortUp {
  &:after {
    content: '▲';
  }
}

.btn {
  margin-bottom: 5px;
}

.error {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .errorTitle {
    color: #8e2b2b;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .errorMessage {
    margin-bottom: 20px;
    max-width: 300px;
  }
}
